# Kirby .htaccess
# revision 2020-06-15
# With some additional settings for caching, gzip, etc.

# Allow access to this subdirectory
Order allow,deny
Allow from all

# Deny access to all hidden files in root
<FilesMatch "^\.(.+)$">
   order deny,allow
   deny from all
</FilesMatch>

# rewrite rules
<IfModule mod_rewrite.c>

  # enable awesome urls. i.e.:
  # http://yourdomain.com/about-us/team
  RewriteEngine on

  # make sure to set the RewriteBase correctly
  # if you are running the site in a subfolder;
  # otherwise links or the entire site will break.
  # In some environments it's necessary to
  # set the RewriteBase to:
  RewriteBase /

  # Redirect to HTTPS
  RewriteCond %{HTTP_HOST} !=localhost
  RewriteCond %{HTTP_HOST} ^www\. [NC,OR]
  RewriteCond %{HTTPS} off
  RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
  RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L,NE]

  # block files and folders beginning with a dot, such as .git
  # except for the .well-known folder, which is used for Let's Encrypt and security.txt
  RewriteRule (^|/)\.(?!well-known\/) index.php [L]

  # block all files in the content folder from being accessed directly
  RewriteRule ^content/(.*) index.php [L]

  # block all files in the site folder from being accessed directly
  RewriteRule ^site/(.*) index.php [L]

  # block direct access to Kirby and the Panel sources
  RewriteRule ^kirby/(.*) index.php [L]

  # block access to storage folder
  RewriteRule ^storage/(.*) index.php [L]

  # block access to node_modules folder
  RewriteRule ^node_modules/(.*) index.php [L]

  # block access to scripts folder
  RewriteRule ^scripts/(.*) index.php [L]

  # make site links work
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*) index.php [L]

</IfModule>

# pass the Authorization header to PHP
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# compress text file responses
<IfModule mod_deflate.c>
   AddOutputFilterByType DEFLATE text/plain
   AddOutputFilterByType DEFLATE text/html
   AddOutputFilterByType DEFLATE text/css
   AddOutputFilterByType DEFLATE text/javascript
   AddOutputFilterByType DEFLATE application/json
   AddOutputFilterByType DEFLATE application/javascript
   AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>

# Add caching headers
<IfModule mod_expires.c>
   ExpiresActive On
   ExpiresDefault "access plus 2 weeks"
   ExpiresByType text/css "access plus 1 month"
   ExpiresByType text/plain "access plus 1 month"
   ExpiresByType image/gif "access plus 4 month"
   ExpiresByType image/png "access plus 1 month"
   ExpiresByType image/jpeg "access plus 1 month"
   ExpiresByType image/webp "access plus 1 month"
   ExpiresByType image/svg+xml "access plus 1 month"
   ExpiresByType application/javascript "access plus 2 weeks"
   ExpiresByType application/x-icon "access plus 1 year"
   ExpiresByType application/x-font-ttf "access plus 1 year"
   ExpiresByType application/x-font-truetype "access plus 1 year"
   ExpiresByType application/x-font-opentype "access plus 1 year"
   ExpiresByType application/font-woff "access plus 1 year"
   ExpiresByType application/font-woff2 "access plus 1 year"
   ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
   ExpiresByType application/font-sfnt "access plus 1 year"
   ExpiresByType font/truetype "access plus 1 year"
   ExpiresByType font/woff "access plus 1 year"
   ExpiresByType font/woff2 "access plus 1 year"
   ExpiresByType font/opentype "access plus 1 year"
</IfModule>